<div class='page-wrapper' id='main-wrapper' data-layout='vertical' data-navbarbg='skin6' data-sidebartype='full'
  data-sidebar-position='fixed' data-header-position='fixed'>
<div class='body-wrapper'>
  <div class='container-fluid'>
    <div class='card'>
      <div class='card-body'>
        <a class='btn btn-info' href='/product/add'>Add new mobile</a>
        <a class='btn btn-primary' href='/product/sort/asc'>Sort ASC</a>
        <a class='btn btn-secondary' href='/product/sort/desc'>Sort DESC</a>

        <form class='col-md-4 my-4' action='/product/search' method='post'>
          <div class='input-group'>
            <input type='search' class='form-control' name='keyword' placeholder='Search by product name' aria-label='Search' aria-describedby='button-addon2'>

            <div class='input-group-append'>
              <button class='btn btn-outline-secondary' type='submit' id='button-addon2'><i class='fa fa-search'></i></button>
            </div>
          </div>
        </form>

        <table class='table table-hover'>
          <tr>
            <th>Product name</th>
            <th>Image</th>
            <th>Price</th>
            <th>Product detail</th>
            <th>Category</th>
            <th>Brand</th>
            <th colspan='2'>Menu</th>
          </tr>
          {{#each products}}
          <tr>
            <td>{{name}}</td>
            <td>
              <img src='{{image}}' alt='' width='150' height='140'/>
            </td>
            <td>{{price}}</td>
            <td>{{detail}}</td>
            <td>{{brand.name}}</td>
            <td>{{category.name}}</td>
            <td>
              <a class='btn btn-warning' href='/product/edit/{{_id}}'>Edit</a>
            </td>
            <td>
              <a class='btn btn-danger' href='/product/delete/{{_id}}' onclick="return confirm('Are you sure to delete this mobile?');">Delete</a>
            </td>
          </tr>
          {{/each}}
        </table>
      </div>
    </div>
  </div>
</div>

</div>